<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>apbjre@tznvy.pbz</string>
	<key>contactName</key>
	<string>Noel Cower</string>
	<key>description</key>
	<string>ooc is a modern, object-oriented, functional-ish, high-level, low-level, sexy programming language.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>96255859-6F58-4C9D-A256-2E893AB5DD6F</string>
			<string>32335225-DB7A-42B6-9541-7CCD6C01BA06</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>32335225-DB7A-42B6-9541-7CCD6C01BA06</key>
			<dict>
				<key>items</key>
				<array>
					<string>98AF820F-8965-4474-9279-742A3345BB32</string>
					<string>9CBA3FB2-7FE9-48ED-BD01-AAA32D887101</string>
					<string>------------------------------------</string>
					<string>7E3662CD-96A8-4E81-9B8A-509EA868C7BA</string>
				</array>
				<key>name</key>
				<string>Declarations</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>ooc</string>
	<key>ordering</key>
	<array>
		<string>EECF47FE-041D-4F42-B64C-414A1EFD807F</string>
		<string>AD03A335-884B-4DC2-B0C5-2FE1D0330ACD</string>
		<string>98AF820F-8965-4474-9279-742A3345BB32</string>
		<string>9CBA3FB2-7FE9-48ED-BD01-AAA32D887101</string>
		<string>7E3662CD-96A8-4E81-9B8A-509EA868C7BA</string>
		<string>96255859-6F58-4C9D-A256-2E893AB5DD6F</string>
		<string>7CA4CB58-F4C3-47BE-A7FF-1D201B3F800A</string>
	</array>
	<key>uuid</key>
	<string>63BB8E5A-7675-4315-9D9E-F61E16748380</string>
</dict>
</plist>
