<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Noel Cower</string>
	<key>contactEmailRot13</key>
	<string>apbjre@tznvy.pbz</string>
	<key>description</key>
	<string>ooc is a modern, object-oriented, functional-ish, high-level, low-level, sexy programming language.</string>
	<key>name</key>
	<string>ooc</string>
	<key>uuid</key>
	<string>63BB8E5A-7675-4315-9D9E-F61E16748380</string>
</dict>
</plist>
